:root {
    --bordercolor: black
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    text-align: center;
}

#main {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
}

.jsDiv {
    background: "white";
    border: 1px solid var(--bordercolor);
}

button {
    position: center;
}

button:hover {}