:root {
    --bordercolor: black
}

body {}

#main {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
}

.jsDiv {
    background: "white";
    border: 1px solid var(--bordercolor);
}

button {
    position: center;
}

button:hover {}